@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400..900&family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  scrollbar-width: none;
}
html{
    scroll-behavior: smooth;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: white;
    overflow-x: hidden;
    position: relative;
}
.navbar {
    width: 100%;
    height: 70px;
/*     display: flex;
    justify-content: space-between;
    align-items: center; */
    background-color: #000;
    color: white;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px 2% 0px 2%;
}

.logo {
    font-size: clamp(15px,2vw,20px);
    font-weight: bold;
    color: yellow;
    margin-right: 10px;
    width: 1fr;
}

/* .menu-button {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    margin-right: 20px;
    cursor: pointer;
} */

.search-bar {
    display: flex;  
    align-items: center;
    background-color: #333;
    padding: 5px;
    border-radius: 5px;
    width: 2fr;
}

.search-bar select {
    background-color: #333;
    color: white;
    border: none;
    padding: 5px;
    margin-right: 5px;
    font-size: 16px;
}

.search-bar input {
    width: 100%;
    background-color: #333;
    color: white;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 16px;
}

.search-button {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.right-links button{
 padding: 6px;
}

.right-links button i{
    font-size: 20px;
    position: relative;
}
.right-links button span{
    position: absolute;
    color: black;
    margin-left: 3px;
    font-weight: 700;
    font-size: 15px;
    margin-top: -4px;
}

.pro {
    color: #0073e6;
    font-weight: bold;
}

.watchlist-btn{
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    background-color: rgb(255, 0, 0);
    width: 1fr;
}
.filter{
    width: 100%;
    height: 30px;
    background-color: lightblue;
    display:grid;
    grid-auto-flow: column;
    color: white;
}
.filter-year{
    width: 100%;
    height: 100%;
    background-color: rgb(109, 109, 109);
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    
}
.filter-year p{
    cursor: pointer;
}
.filter-year p:hover{
   color: #d1d1d1;
}
/* .filter-genre{
    width: 100%;
    height: 100%;
    background-color: rgb(109, 109, 109);
    display: grid;
    grid-auto-flow: column;
    place-items: center;
} */
.watchlist-view{
    width: 400px;
    height: 610px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    right: -400px;
    top: 0;
    z-index: 1;
    position: fixed;
    transition: 0.5s;
    overflow: scroll;
}
.watchlist-view header{
    width: 100%;
    height: 10%;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px dashed black;
}
.watchlist-view header i{
    font-size: 25px;
    cursor: pointer;
}
.watchlist-view header h3{
    font-size: 20px;
    color: red;
}

.fav{
    width: 100%;
    height: 150px;
    margin-top: 5px;
    display: flex;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}
.fav-profile{
    width: 30%;
    height: 100%;
    padding: 1%;
}
.fav-details{
  width: 70%;
  height: 100%;
  padding: 2%;
  display: grid;
  align-items: start;
}
.fav-details i{
    color: red;
    font-size: 20px;
    cursor: pointer;
}
.container{
    width: 100%;
    height: auto;
    background-color: rgb(211, 211, 211);
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* justify-content: center;
    align-items: center; */
    place-items: center;
}
.movies{
    width: 200px;
    height: 390px;
    background-color: black;
    margin:5px;
    color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
    position: relative;
}
.plus{
    width: 30px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.315);
    position: absolute;
    display: grid;
    place-items: center;
    color: white;
    font-size: 15px;
}
.poster{
    width: 100%;
    height: 75%;
 /*    background-color: greenyellow; */
}
.poster img{
   width: 100%;
   height: 100%;
}
.details{
    width: 100%;
    height: 18%;
    background-color: rgb(0, 0, 0);
}
.title{
    width: 100%;
    height: 70%;
    /* background-color: rgb(207, 4, 4); */
    font-size: 15px;
    font-weight: 500;
    display: grid;
    place-items: center;
    overflow: hidden;
}
.rating_year{
    width: 100%;
    height: 30%;
    /* background-color: rgb(134, 0, 45); */
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px 0px 5px;
}
.rating_year span i{
 color: yellow;
}
.watchlist{
    width: 100%;
    height: 7%;
/*     background-color: gray; */
    display: grid;
    place-items: center start;
    padding-left: 5px;
}

.watchlist button{
    width: 100px;
    height: 25px;
    background-color: yellow;
    border: none;
    outline: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
}

@media (max-width: 600px) {
    .right-links{
        display: none;
    }
  }

@media (max-width: 400px) {
     .movies{
        width: 90%;
        height: 600px;
     }
}